.create-student form {
    max-width: 800px;
}

 form .field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex-grow: 1;
    min-width: 200px;
}

form .field input , form .field select{
    border: 1px solid #4B5563;
    outline: none;
    padding: 6px ;
    border-radius: 5px;
}

.create-student form .row {
    width: 100%;
}

.create-student form .btn-create {
    width: 100%;
    text-align: center;
    margin: 20px 0;
}
