.search{
    border: 1px solid;
    width: fit-content;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #fff;
}
.search input {
    border: none;
    outline: none;
    width: 90%;
}

thead {
    box-shadow: 0px -4px 10px #5a57ff60;
}
thead tr td{
    background-color: #F9FAFB;
    padding: 10px;
}

hr {
    margin: 3px !important;
    width: 100%;
}

/* style the open class button */
.open-style{
    background-color: var(--primary) !important;
    color: white !important;
}

/* style the status of student*/
.pendingStatus li{
    color: var(--dark);
    font-weight: 500;
    background-color: #F8FAFC;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}
.absentStatus li{
    color: #991B1B;
    font-weight: 500;
    background-color: #991b1b1e;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}
.presentStatus li{
    color: #166534;
    font-weight: 500;
    background-color: #1665342f;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}