.search{
    border: 1px solid;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #fff;
}
.search input {
    border: none;
    outline: none;
    width: 90%;
}
.table-container {
    overflow-x: auto;
    box-shadow: -1px -2px 20px #5a57ff60;
}
.table-container table {
    min-width: 800px;
}
thead tr td{
    background-color: #F9FAFB;
    padding: 10px;
}

tr{
    border-bottom:  1px solid #64646488 !important;
}
tbody tr td {
    padding: 10px;
}
/* style the open class button */
.open-style{
    background-color: var(--primary) !important;
    color: white !important;
}

/* style the status of student*/
.pendingStatus li{
    color: var(--dark);
    font-weight: 500;
    background-color: #F8FAFC;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}
.absentStatus li{
    color: #991B1B;
    font-weight: 500;
    background-color: #991b1b1e;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}
.presentStatus li{
    color: #166534;
    font-weight: 500;
    background-color: #1665342f;
    border-radius: 23px;
    width: fit-content;
    padding: 6px 10px;
}
@media (max-width : 1200px) {
    table{
        font-size: 14px;
    }
}

@media (max-width : 884px) {
    table , .view-student{
        font-size: 14px;
    }
    .class-page .search{
        width: 80% !important;
    }
}